In [7]:
#imports
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [5]:
#get states csv into dataframe
states_csv="../Assets/states.csv"

states_df=pd.read_csv(states_csv)

states_df.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [ ]:
conn=